map $http_user_agent $ignore_ua {
    default         0;
    "~Pingdom.*"    1;
    "~Monit/5.*"    1;
}

lua_package_path "/srv/etc/lualib/?.lua;;";

server {
    listen       80 default;
    server_name  api.jxswhg.com;
    charset   utf-8;
    location / {
        if ($ignore_ua) {
            access_log off;
            return 200;
        }
        default_type 'text/plain';
        content_by_lua_block {
            ngx.say('Hello, world!')
        }
    }
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/mynginx/html;
    }
    location ~ /\.ht {
        deny  all;
    }
    location /status {   
        stub_status on;   
        access_log on;
    }
    include  /srv/etc/sites-enabled/location-*.conf;
}
